@import "tailwindcss";

body{
    background-color: #0B1120;
    color: #F8FAFC;
}


:root {
    --bg: #0B1120;
    --card: #111827;

    --primary: #2563EB;
    --primary-light: #60A5FA;

    --text: #F8FAFC;
    --text-secondary: #94A3B8;

    --border: #1E293B;

    --success: #10B981;
}