



.wrap{
    height: 100vh;
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 5px;
       
}

.techIcons{
    display: flex;
    gap: 8px;
}

.sectionNavigation{
    display: flex ;
    gap: 20px;
}

@media (min-width: 1024px){
.layout {
   flex: 1;
        display: grid;
        grid-template-columns: 200px 1fr 200px;
    gap: 10px;
     min-height: 0;
     margin:0;
    }

    .center{
        position: relative;
        overflow-y: auto;
        min-height: 0;
        height: 100%;
        scrollbar-width: none;
        -ms-overflow-style: none;
        border: 1px solid;
        padding: 20px;
        
    }
    .center::-webkit-scrollbar{
        display: none;
    }

    .navSec{
        position: fixed;
        
        bottom: 10px;
        left: 50%;
     transform: translateX(-50%);
    }
}


@media (min-width: 641px) and (max-width: 1023px){
.layout {
        display: grid;
        grid-template-columns: 260px 1fr;
        min-height: 100vh;
    }
}


@media (max-width: 640px){
    .layout {
            display: grid;
            grid-template-columns:  1fr ;
            min-height: 100vh;
        }

}