.skillHeader{
    display: flex; 
    justify-content: center;
   
}
.skillHeader h1 {
    font-size: medium;
        font-weight: 600;
}

.skillStack{
    margin-top: 20px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 20px;
}
.skillCover{
    
    padding: 20px 20px;
    background-color: white;
    transition: 0.2s;
   border: 1px solid;
   
    gap: 10px;
   
    width: 100%;
    min-height:200px ;
   

}

.subCover{
    display: flex;
  
    gap: 10px;
}

.skillCover > div img{
    width: 48px;
    height: 48px;
}
.skillFont{
    font-size: 20px;
    font-weight: 600;
}

.skillP{
    font-size: 14px;
}
.skillCover:hover{
    transform: translateY(-10px);
   
    background-color: orange;

}

.skill-stack {
    display: flex;
    gap: 10px;


}

.skill-stack>div {
    border: 1px solid;


    padding: 4px 8px;

}

.skill-stack>div>h1 {
    font-size: 12px;

}